.Row {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1400px;
  flex-wrap: wrap;
}

.Cell {
  padding: 16px 16px;
  position: relative;
  flex: 0 auto;
  box-sizing: border-box;
}

.Cell-Title {
  font: 300 20px/28px Roboto, sans-serif;
  color: #40474b;
  //color: #ff9900;
  margin: 0;
}

.Cell-flex {
  @extend .Cell;
  flex: 1;
}

@for $i from 1 through 12 {
  .Cell-#{$i} {
    @extend .Cell;
    width: 100% / 12 * $i;
  }
}

@media (max-width: 1200px) {
  .Cell-flex {
    width: 100%;
    flex: 0 auto;
  }
}

@media (max-width: 840px) {
  @for $i from 1 through 12 {
    .Cell-#{$i} {
      width: 100%;
    }
  }
}

.Flex-flex {
  flex: 1 1;
}

.Flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.Flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}