@import "./color";

$c-Reset-background: #fff;

html {
  width: 100%;
  height: 100%;
  background: $c-key-dark;
  font: 400 16px/24px Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  color: $c-key-dark;
  margin: 0;
  background: $c-Reset-background;
}

li {
  margin: 8px 0;
}

a {
  color: currentColor;
}

p {
  margin: 0;
}

hr {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(#000, 0.1);
}

label {
  margin-right: 16px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 8px;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
    line-height: 20px;
  }

  ol {
    padding-left: 12px;
  }
  .Mobile-Hide {
    display: none !important;
  }
}

