@import "../button/button";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.Header {
  display: flex;
  background: rgb(28, 29, 35);
  color: #fff;
  flex: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 32px;
  min-height: 56px;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(#000, 0.3);

  @include media-breakpoint-down(sm) {
    min-height: 48px;
  }
}

.Header-Title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}