@import "../../../../stylus/bootstrap-mixin";
@import "../../../../stylus/color";
@import "../../../../stylus/z-index";

$NavBar-Background: rgb(46, 48, 56);

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $NavBar-Background;
  color: #fff;
  flex: 0 auto;
  justify-content: flex-start;
  padding: 14px 32px;
  z-index: $z-NavBar;
  box-shadow: 0 1px 3px rgba(#000, 0.3);

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
    min-height: 48px;
  }
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 20px;
  }
}

.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 0 8px;

  @include media-breakpoint-down(sm) {
    margin: 4px 0 0 0;
    font-size: 14px;
    line-height: 16px;
  }
}
