@import "../common/color";

.PlayGround {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  position: relative;
  background: #000;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

$c-example-button-foreground: rgb(255, 255, 255);
$c-example-button-primary-foreground: rgb(255, 153, 0);
$c-example-button-disabled-foreground: rgb(90, 90, 90);

.PlayGround-Link {
  display: none;
  width: 100%;
  margin: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #f90;
  background: none;
  padding: 0 16px;
  font: 300 16px/48px sans-serif;
  height: 48px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 160ms;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  color: #f90;
  -webkit-tap-highlight-color: rgba(#f90, 0.1);

  &:hover:not([disabled]) {
    background: rgba(255, 153, 0, 0.1);
  }

  svg {
    fill: none;
    stroke: currentColor;
    margin-right: 8px;
  }

  &[disabled] {
    color: rgb(90, 90, 90);
    border: none;

    &:hover:not([disabled]) {
      background: none;
    }
  }
}

@media (max-width: 788px) {
  .PlayGround {
    display: none;
  }
  .PlayGround-Link {
    display: flex;
  }
}