@import "../common/color";
@import "~bootstrap/scss/mixins/_breakpoints";

$c-SplashPage-foreground: #fcfcfc;

.SplashPage {
  position: relative;
  width: 100%;
  padding: 64px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $c-SplashPage-foreground;
  background: rgb(255, 153, 0); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255, 153, 0, 1) 0%, rgba(255, 204, 0, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255, 153, 0, 1) 0%, rgba(255, 204, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(255, 153, 0, 1) 0%, rgba(255, 204, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#ffcc00', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  h1 {
    font: 300 38px/48px sans-serif;
    color: #fff;
    margin: 0 0 1em;

    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 34px;
      text-align: center;
    }
  }

  .MIL_LOGO {
    color: $c-key;
  }

  .Button.Button-primary {
    border-color: #fff;
    color: #fff;

    &:hover:not([disabled]) {
      background: rgba(#fff, 0.3);
    }
  }

  canvas {
    opacity: 1;
    will-change: opacify;
    animation: fadeIn 2000ms ease-in-out;
  }

  @include media-breakpoint-down(md) {
    padding: 32px 16px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

