# Ignore everything that is not necessary for running JavaScript
*.egg
*.tar.gz
.editorconfig
.gitignore
.pycodestyle
MANIFEST.in
setup.cfg
setup.py
/.*
/bin
/docs
/example
/requirements
/scripts
/src/graph_transpiler
/test
*.ts
!*.d.ts
