@import "../common/z-index";

.InitializingView {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: $z-InitializingView;
  padding: 32px;
  box-sizing: border-box;
}

.InitializingView-Message {
  margin: 16px 0;
  text-align: center;
}