@import "../layer/layer";

.navbar_layer {
  @extend .layer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.main {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}