body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

body>header {
    flex: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: #00796B;
    border-bottom: 3px solid #00796B;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 65535;
}

body>main {
    background: #fff;
    flex: 1;
    overflow: scroll;
}

h1 {
    margin: 0;
}

button {
    font: inherit;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    color: #fff;
    padding: 0 16px;
    line-height: 48px;
    min-height: 48px;
    border-radius: 4px;
    margin-left: 16px;
}

button:hover,
button:focus {
    background: rgba(255, 255, 255, 0.15);
}

button:active {
    background: rgba(0, 0, 0, 0.05);
}
button:disabled,
button:disabled:hover,
button:disabled:focus,
button:disabled:active {
    opacity: 0.3;
    background: none;
    cursor: default;
}


pre {
    font: inherit;
    margin: 0;
}

#log {
    padding: 16px;
    overflow: auto;
    line-height: 1.5;
}

#log .bold {
    font-weight: bold;
}

#log .success {
    color: #009688;
    font-weight: bold;
}

#log .error {
    color: #F44336;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 3px double #000;
    line-height: 1.5;
    padding: 0 0.5em;
}

td {
    border-bottom: 1px solid #000;
    line-height: 1.5;
    padding: 0 0.5em;
}