@import "../definitions/grid";

$c-example-body-background: #000;

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  background: $c-example-body-background;
  color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
}

.MainContainer {
  @extend .Flex-flex;
  @extend .Flex-row;
}

.InputContainer {
  @extend .Flex-column;
  justify-content: flex-start;
  flex: 0;
  width: 224px;
}

.InputItemContainer {
  @extend .Flex-column;
  justify-content: flex-start;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

.InputImageContainer {
  @extend .Flex-column;
  justify-content: flex-start;

  canvas, img {
    width: 192px;
    height: 144px;
  }
}

#inputCanvas {
  display: block;
}

.MessageBar {
  @extend .Flex-row;
  font-family: monospace;
  align-items: center;
  padding: 0 16px;
  background: #000;
  height: 2em;
  color: #aaa;
  border-top: 1px solid rgba(#fff, 0.1);
}

.ControlBar {
  @extend .Flex-row;
  align-items: center;
  padding: 0 16px;
  background: rgb(28, 29, 35);
  height: 80px;
}

.ContentsContainer {
  position: relative;
  width: 192px;
  height: 144px;

  > div {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.OutputContainer {
  @extend .Flex-flex;
  padding: 16px;
  box-sizing: border-box;
}

.OutputCanvasContainer {
  border: 1px solid #444;
  width: 468px;
  height: 351px;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 727px) {
  .InputContainer {
    position: relative;
    flex-direction: row;
    height: auto;
    flex: 1;
  }
  .InputItemContainer {
    position: relative;
    width: 50%;
  }
  .InputImageContainer {
    overflow: hidden;

    canvas, img {
      width: 100%;
      height: 100%;
    }
  }
  .OutputContainer {
    flex: 0;
    justify-content: center;
  }
  .OutputCanvasContainer {
    flex: 0;
    width: auto;
    height: auto;

    canvas {
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
}

@media (max-width: 727px) and (orientation: portrait) {
  .MainContainer {
    flex-direction: column;
    align-items: center;
  }
  .InputContainer {
    width: 100%;
  }
  .OutputCanvasContainer {
    canvas {
      width: 320px;
      height: auto;
    }
  }
}