a.signature-type,
a.signature-symbol {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

code {
    display: inline-block;
    padding: 4px 4px;
    margin: 4px 0;
    background: #eee;
    border-radius: 2px;
    font-size: 95%;
    color: #20232c;
    line-height: 1.5;
    font-family: 'source-code-pro', Menlo, Consolas, 'Courier New', monospace;

    code {
        padding: 0;
        margin: 0;
        background: none;
        font-size: 100%;
    }
}

a code {
    font-weight: bold;
    text-decoration: underline;
}

pre {
    margin: 16px 8px;
    background: #f0f0f0;
}
