@import "../../../../stylus/bootstrap-mixin";

.section {
  position: relative;
  overflow: hidden;
  padding: 32px 0;
  background: #fff;

  &:nth-child(odd) {
    background: #f3f3f3;
  }

  p {
    margin: 8px 0;
  }
}

.section-title {
  font: 300 28px/34px Roboto, sans-serif;
  margin: 0 0 24px;
  color: #40474b;

  @include media-breakpoint-down(md) {
    font-size: 22px;
    line-height: 26px;
  }
}

.section-subTitle {
  font: 300 20px/28px Roboto, sans-serif;
  color: #40474b;
  margin: 24px 0 16px;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 24px;
  }
}

.section-anchor {
  position: absolute;
  top: -64px;
}
