@import "../layer/layer";

.app_shell {
  @extend .layer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.main {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.alert {
  background: #f90;
  padding: 4px 16px;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}