@import "bootstrap";
@import "reset";
@import "../../scripts/common/stylus/button";
@import "../../app_parts/launch_view";
@import "../../app_parts/initializing_view";
@import "../../app_parts/progress_bar";
@import "../../app_parts/header";
@import "../../app_parts/canvas";
@import "../../app_parts/result";
@import "../../app_parts/tip";

$c-example-body-background: #000;

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  overflow: hidden;
  background: $c-example-body-background;
  color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
}

.MainContainer {
  //@extend .Flex-flex;
  //@extend .Flex-column;
}

.DataContainer {
  //@extend .Flex-row;
  //@extend .Flex-flex;
}

.InputContainer {
  //@extend .Flex-column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ResultContainer {
  //@extend .Flex-flex;
}

.UIContainer {
  background: rgb(28, 29, 35);
  align-items: center;
  height: 80px;
}

.InputContainer,
.ResultContainer,
.UIContainer {
  padding: 16px;
  box-sizing: border-box;
}

.MessageView {
  //@extend .Flex-row;
  font-family: monospace;
  align-items: center;
  padding: 0 32px;
  background: #000;
  height: 2em;
  color: #aaa;
  border-top: 1px solid rgba(#fff, 0.1);
}

@media (max-width: 727px) {
  .DataContainer {
    flex-direction: column;
  }
  .CanvasContainer {
    flex: 1 1;
  }
}