@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "color";

$c-Reset-background: #fff;

html {
  background: #0d1115;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: $c-key-dark;
}

a {
  color: currentColor;
  text-decoration: underline;
}

p {
  margin: 0;
}

th {
  text-align: center;
}

hr {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(#000, 0.1);
}

@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
    line-height: 20px;
  }

  ol {
    padding-left: 12px;
  }

  .Mobile-Hide {
    display: none !important;
  }
}

