@import "../../../../style/stylus/bootstrap";

.MainContainer {
  display: flex;
  flex: 1 1;
  align-items: stretch;
  position: relative;
  flex-direction: column;
}

.MainContainer-Images {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  position: relative;

  @include media-breakpoint-down(md) {
    @media (orientation: portrait) {
      flex-direction: column;
    }
  }
}

.MainContainer-Output {
  position: relative;
  width: 100% * 2 / 3;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    @media (orientation: portrait) {
      width: auto;
      height: 100% * 2 / 3;
    }
  }
}

.MainContainer-Input {
  position: relative;
  width: 100% * 1 / 3;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    @media (orientation: portrait) {
      flex-direction: row;
      width: auto;
      height: 100% * 1 / 3;
    }
  }
}

.MainContainer-InputCanvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.MainContainer-Header {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: rgba(#0d1115, 0.5);
}