<section class="members-group {{cssClasses}}">
    <header class="members-group-header">Inheritance hierarchy</header>
    <div class="members-group-body">
        {{> hierarchy}}
    </div>
</section>
