@import "../../../../stylus/bootstrap-mixin";

.playground {
  display: block;
}

.iframe {
  display: block;
  background: #000;
  box-shadow: 0 3px 10px rgba(#000, 0.3);
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.link-button {
  display: none !important;

  @include media-breakpoint-down(sm) {
    display: flex !important;
    position: relative;
    width: 100%;
  }
}