$c-Article-Header-foreground: #394246;

.Article {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  border-radius: 2px;
  line-height: 1.5;
}

.Article-Header {
  flex: 0;
  box-sizing: border-box;
  margin: 32px 0 16px;
  padding: 0 64px;
  font-size: 18px;

  h2 {
    font-weight: normal;
    color: $c-Article-Header-foreground;
    margin: 0;
  }
}

.Article-Body {
  padding: 16px 64px;
  margin: 0;
  flex: 1;
}

.Article-Footer {
  flex: 0;
  box-sizing: border-box;
  padding: 0 64px;
  margin: 16px 0 32px;
}

.Article-References {
  font-size: 0.8em;
  line-height: 1.2;
  color: #666;
}