$c-example-button-foreground: rgb(255, 255, 255);
$c-example-button-primary-foreground: rgb(255, 153, 0);
$c-example-button-disabled-foreground: rgb(90, 90, 90);

button, .Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(#fff, 0.3);
  background: none;
  color: $c-example-button-foreground;
  padding: 0 16px;
  font: 300 16px/48px sans-serif;
  height: 48px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 160ms;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;

  svg {
    fill: none;
    stroke: currentColor;
    margin-right: 8px;
  }

  &[disabled] {
    color: $c-example-button-disabled-foreground;
    box-shadow: none;

    &.Button-primary {
      color: $c-example-button-disabled-foreground;
      border: none;

      &:hover:not([disabled]) {
        background: none;
      }
    }
  }

  &:hover:not([disabled]) {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active:not([disabled]) {
  }
}

.Button-primary {
  @extend .Button;
  color: $c-example-button-primary-foreground;
  border: 1px solid $c-example-button-primary-foreground;

  &:hover:not([disabled]) {
    background: rgba(255, 153, 0, 0.1);
  }
}

