@import "../definitions/z-index";
@import "../definitions/color";
@import "~bootstrap/scss/mixins/_breakpoints";

$c-PageHeader-background: #0d1115;
$c-PageHeader-foreground: #fcfcfc;

.PageHeader {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  line-height: 64px;
  height: 64px;
  box-sizing: border-box;
  background: $c-PageHeader-background;
  color: $c-PageHeader-foreground;
  padding: 0 32px 0 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: $z-Header;

  h1 {
    font-weight: 300;
    font-size: 1.5em;
    color: inherit;
    margin: 0 32px 0 0;
    flex: 0 0;
    white-space: nowrap;
  }

  .MIL_LOGO {
    color: $c-key;
  }

  @media (max-width: 1200px) and (min-width: 840px) {
    padding: 0 32px;
  }

  @media (max-width: 840px) {
    padding: 0 16px;
  }

  @media (max-width: 768px) {
    height: 48px;
    line-height: 48px;
  }
}

html {
  margin-top: 64px;
}

@media (max-width: 768px) {
  html {
    margin-top: 48px;
  }
}

.PageHeader-ItemContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.PageHeader-Menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: auto;

  a {
    padding: 0 8px;
    color: #fff;
    opacity: 0.6;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

.PageHeader-Link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  a {
    padding: 0 8px;
    color: #fff;
    opacity: 0.6;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
    vertical-align: middle;
    margin-right: 4px;

    @include media-breakpoint-down(md) {
      width: 28px;
      height: 28px;
    }
  }
}

