.Section {
  position: relative;
  overflow: hidden;
  padding: 16px 0;

  p {
    margin: 8px 0;
  }

  .Section-Title {
    font: 300 36px/40px Roboto, sans-serif;
    color: #40474b;
    margin: 0;
  }

  @media (max-width: 640px) {
    .Section-Title {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.Section-Grey {
  background: #f3f3f3;
}
